<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
<div>

</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<div>
    <% for(var i = 0 ; i < photos.length ; i++) {
        var photo = photos[i];
        console.log(photo);%>
        <img width="480" height="640" src="/photos/<%=photos[i].filename%>">
    <%}%>
</div>
</body>
</html>